<h2>
  Log in
</h2>


<div class="form" id="login_form">
  <%= form_tag(login_path) do %>
    <%= field_set_tag "Login details" do %>
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>

      <p>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </p>

      <p>
        <%= label_tag :password %>
        <%= password_field_tag :password%>
      </p>

      <p>
        <%= submit_tag "Log in" %>
      </p>
    <% end %>
  <% end %>

  <div class="clear"></div>
</div>
