<h2>
  Create user
</h2>



<div class="form" id="signup_form">
  <%= form_for @user do |form| %>
    <%= field_set_tag "New user details" do %>
      <% if flash[:errors] %>
        <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <p>
        <%= form.label :username %>
        <%= form.text_field :username %>
      </p>

      <p>
        <%= form.label :email %>
        <%= form.text_field :email %><br />
      </p>

      <p>
        <%= form.label :password %>
        <%= form.password_field :password %><br />
      </p>

      <p>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %><br />
      </p>

      <p>
        <%= form.submit "Create" %>
      </p>
    <% end %>
  <% end %>
  <div class="clear"></div>

</div>
