<!DOCTYPE html>
<html>
  <head>
    <title>QaTestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>

  <style type="text/css">
    h1 a {
      text-decoration: none;
      color: black;
    }
  </style>


  <body>
    <h1><a href="/">Qa Test Page</a></h1>

    <div id="flash">
      <%= render "shared/flash" %>
    </div>

    <div id="main_content">
      <%= yield %>
    </div>
  </body>
</html>
